/node_modules
/public/storage
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/vendor
Homestead.json
Homestead.yaml
.env
composer.lock
.phpunit.result.cache
.idea
*.iml
*.ipr
*.iws
.DS_Store

